.reviews-container {
    background-color: var(--color-black);
    text-align: center;
}

.image-container {
    display: flex;
    background-color: var(--color-black);
    justify-content: center; 
}

.add-review {
    display: flex;
    justify-content: center;
    background-color: var(--color-black);
    padding-top: 30px;
    padding-bottom: 10px;
}

.review1, .review2, .review3 {
    margin: 0 10px; 
    width: 400px;
}


@media screen and (max-width: 600px) {
    .image-container {
        flex-direction: column; 
        align-items: center;
    }

    .review1, .review2, .review3 {
        margin: 10px 0; 
    }
}